.main-page-btn {
    text-decoration: none;
    font-size: large;
    border: 2px solid;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(43, 226, 202);
}

.main-page-btn:hover {
    background-color: blue;
    color: white;
}

.skill {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 1rem 0;
    padding: 1rem;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

.subtopics {
    display: none;
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.subtopics.active {
    display: block;
}

.certificate {
    font-size: 0.9rem;
}

#single-toggle {
    margin-bottom: 1rem;
}