* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 8px;
    padding: 8px;
    background-color: yellow;
    height: auto;
    width: auto;
    font-family: Arial, sans-serif;
}   

header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
} 

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav button {
    background-color: tomato;
    font-size: large;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

nav button a {
    color: white;
    text-decoration: none;
}

#about {
    border: 2px solid red;
    border-radius: 5px;
    margin: 3rem 1rem;
    padding: 1rem;
    background-color: aquamarine;
}

.about-content {
    display: flex;
    background-color: aliceblue;
    padding: .5%;
    gap: .4rem;
    align-items: start;
}

.about-text {
    background-color: aqua;
    text-align: justify;
    font-size: 1rem;
    flex: 1;
}

.about-text p {
  margin-bottom: 0.5rem; /* or less if needed */
}


.about-photo {
    background-color: red;
    /* height: 170px; */
    padding: .3rem;
    /* width: 160px; */
    width: 13%;
    min-width: 100px;
    /* flex-shrink: 0; */
    margin-left: 1rem;
}

.about-photo img {
    /* height: 100%; */
    height: auto;
    width: 100%;
    object-fit: cover;
    /* border-radius: 5px; */
}

