* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 8px;
    padding: 8px;
    background-color: yellow;
    height: auto;
    width: auto;
    font-family: Arial, sans-serif;
}   

header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;

} 

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav button {
    background-color: tomato;
    font-size: large;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

nav button a {
    color: white;
    text-decoration: none;
}

