body {
    background-color: #f3f3f3;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

div {
    padding: 5%;
    border: black 1px solid;
    border-radius: 10px;
    height: 50%;
    width: 50%;
    background-color: #bd8a2d;
    margin: 0 auto;
    margin-top: 16%;
}

/* . {
    display: inline-block;
} */

#messageDisplay {
    background-color: #2daab3;
    font-size: auto;
    color: #e30f2b;
    /* text-align: center; */
    /* margin-top: 20px; */
    font-weight: bold;
    padding: 5%;
    border-radius: 10px;
    border: 2px solid #e30f2b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: fit-content;
    height: fit-content;
}